{% extends "base.html" %}
{% block content %}
Ahoy, matey!<br />
<br />
This is the <strong>Agora v0.5a</strong>.<br />
<br />
This site is very much under construction, but feel free to look around: 
<ul>
	<li><a href="{{nodes}}">{{nodes}}</a> lists all nodes in this Agora; currently these are mostly notes as volunteered by users.</li>
	<li><a href="{{journals}}">{{journals}}</a> displays all journal entries.</li>
</ul>

The [[<a href="/node/wikilink">wikilink</a>]] is the heart of the Agora. <a href="/node/foo">/node/foo</a> and <a href="/wikilink/foo">/wikilink/foo</a> will both render every node that responds to wikilink [[<a href="/node/foo">foo</a>]]. For example: [[<a href="/node/agora-help">agora-help</a>]].

<br /><br />
For more information, please visit the <a href="https://flancia.org/go/agora">Agora repository.</a>
{% endblock %}
