{% extends "base.html" %}
<h1> Notes </h1>
{% block content %}

{% if not notes %}
No notes found for '{{wikilink}}'. 
<br /><br />
If you <a href="https://flancia.org/go/agora">contributed a note</a> named '{{wikilink}}' to the Agora, here is where your note would be :)
<br /><br />
Go back to <a href="/notes">/notes</a>?
{% endif %}

{% for note in notes %}
<hr />
{{ note.dir }}: <a href="{{note.url}}">{{note.wikilink}}</a><br />
{{ note.content|markdown|linkify|safe }}
{% endfor %}

{% endblock %}
